
.header {
    width: 100vw;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7em;
    font-weight: 900;
    border-bottom: 1px solid rgba(255,255,255,.2);
}

.auth-container{
    width: 100vw;
    height: calc(100vh - 60px);
    display: flex; 
    justify-content: center;
    align-items: center;
}

.email_password_btn {
    width: 450px;
    height: 40px;
    background: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.email_password_btn:hover .email_password_btn::after {
    content: '';
    position: absolute;
    color: white;

}
